[2020-02-11 20:29] ovelartelius opened #1 "Rename Smoke and reset"
Rename the task Smoke and reset to Smoke test - if fail reset

[2020-02-11 21:49] #1 closed, assigned to ovelartelius

[2020-02-11 23:35] ovelartelius opened #6 "Make public"
https://docs.microsoft.com/en-us/azure/devops/extend/publish/publicize?view=azure-devops

[2020-03-17 22:54] ovelartelius opened #8 "Check that ProjectId prop is provided"
I wrote the wrong name for the ProjectId and got a very strange error message: ##[error]Exception calling "FromBase64String" with "1" argument(s): "The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters.

We need to implement a check for the ProjectId and give user more information so th

[2020-03-17 22:57] ovelartelius commented on #8
This was not the case. There is something else that is wrong. Close this issue and create another when I find the real problem...

[2020-03-17 22:57] #8 closed, assigned to nobody

[2020-03-17 22:59] ovelartelius opened #9 "Get The input is not a valid Base-64 string..."
Get the error "The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters." when run

$packageLocation = Get-EpiDeploymentPackageLocation -ProjectId $projectId
    Write-Host "packageLocation: $packageLocation"

in DeployNuGetPackage.ps1.

Add info so that user see what information that is u

[2020-04-11 17:56] ovelartelius commented on #6
It is now public

[2020-04-11 17:56] #6 closed, assigned to nobody

[2020-04-11 17:56] ovelartelius opened #20 "Add YAML examples for all tasks"

[2020-04-11 17:57] ovelartelius commented on #20
In markdown description

[2020-04-20 19:46] mikemalloy-commscope opened #21 "DeployNugetPackage markdown"
There is a broken image at the end of this markdown:

https://github.com/Epinova/epinova-dxp-deployment/blob/develop/documentation/DeployNugetPackage.md

[2020-04-21 09:18] ovelartelius commented on #21
Thx. I have removed that image. It has nothing to do with the documentation. Old crap.

[2020-04-21 09:18] #21 closed, assigned to nobody

[2020-04-21 09:36] ovelartelius opened #22 "Create a Hotfix release"
A yaml file that contains a hotfix build and deploy to production.
Developer should be able to branch from master with the name "hotfix/*". Manual trigger of the pipeline. Pipeline should build a nuget package, build and deploy it to production.

[2020-04-21 13:27] mikemalloy-commscope opened #23 "Question - Deploy nuget package"
On the Deploy nuget package task. Is it possible to change the task to upload ALL nupkg files that are in the drop folder? My Build pipeline generates Cms and Commerce nupkg.

[2020-04-21 14:39] mikemalloy-commscope opened #24 "DeployTo - SourceApp error"
For the DeployTo task I am choosing SourceApp: cms, commerce

I receive the error:

##[error]Cannot validate argument on parameter 'SourceApp'. The argument "cms, commerce" does not belong to the set "cms,commerce" specified by the ValidateSet attribute. Supply an argument that is in the set and then try the command again.

I think the value of SourceApp needs to remove the space?
So "cms, commerc

[2020-04-22 19:42] ovelartelius commented on #23
Right now Im writing some documentation and blog posts. I will look into this asap.

[2020-04-22 19:42] ovelartelius commented on #24
Right now Im writing some documentation and blog posts. I will look into this asap.

[2020-04-22 20:12] ovelartelius commented on #24
This fix should now be released in v1.0.8. More testing with commerce will be done asap.

[2020-04-22 20:12] #24 closed, assigned to nobody

[2020-04-22 20:37] mikemalloy-commscope commented on #24
Thank you for the change. I am still getting the same error.
When editing the task the drop-down indicates: cms,commerce
But, I noticed that the YAML indicates: SourceApp: 'cms, commerce'

[2020-04-22 21:07] mikemalloy-commscope opened #26 "DeployTo - SourceApp error remains"
I am still getting the same error.
When editing the task the drop-down indicates: cms,commerce
But, I noticed that the YAML indicates: SourceApp: 'cms, commerce'

_Originally posted by @mikemalloy-commscope in https://github.com/Epinova/epinova-dxp-deployment/issues/24#issuecomment-618026378_

[2020-04-23 10:10] ovelartelius commented on #26
Do you mean that the markdown documentation indicates SourceApp: 'cms, commerce'? I found and updated the documentation/DeployTo.md. But I have not found anything in the yaml files. The yaml files is still hardcoded to only use 'cms' since I have not been able to test this for commerce yet.

[2020-04-23 10:12] ovelartelius commented on #9
Fixed in v1.0.3

[2020-04-23 10:12] #9 closed, assigned to nobody

[2020-04-23 11:45] mikemalloy-commscope commented on #26
When I have added the task in the Release pipeline and I click "View YAML"

![image](https://user-images.githubusercontent.com/32370762/80095824-3278f880-852e-11ea-860f-4622a13e3911.png)

[2020-04-24 14:22] ovelartelius commented on #26
Sorry, updated the titel/name. Now i should have updated the value. Will release v1.0.9 ASAP.

[2020-04-27 09:39] ovelartelius commented on #26
Now v1.0.9 is released and I can now see that is right:
steps:
- task: epinova-sweden.epinova-dxp-deploy-extension.dxp-deployto-buildtask.DxpDeployTo@1
  displayName: 'Deploy Integration to Preproduction'
  inputs:
    SourceEnvironment: Integration
    TargetEnvironment: Preproduction
    SourceApp: 'cms,commerce'

[2020-05-05 14:42] #20 closed, assigned to ovelartelius

[2020-05-05 19:03] mikemalloy-commscope opened #30 "Deploy NuGet packages resolved path"
Can you change the pattern to support the [code package format](https://world.episerver.com/documentation/developer-guides/digital-experience-platform/deploying/episerver-digital-experience-cloud-deployment-api/deploy-using-code-packages/code-packages/)?

`<app name>.<package type>.app.<version>.nupkg`

For example, my filenames look like...
cms.app.1.0.11274.nupkg
commerce.app.1.0.11274.nupkg

`$

[2020-05-05 23:24] ovelartelius commented on #30
That is strange. My is "Xxx.Yyy.cms.app.20200505.6.nupkg" for example and it works. But of course I will have a look at it ASAP.
Im sorry that you are my test guy at the moment. My problem is that I don´t have any commerce project to test/play with.

[2020-05-06 06:51] ovelartelius commented on #30
Hi Mike. We did a test this morning and deployed a cms,commerce release to DXP. It found and uploaded both nupkg. Yesterday I added better debug info in the task. So if it does not find a nupkg in the DropFolder it should list all the files that are in the DropFolder. So in your case it should now list all the files that are in D:\a\r1\a_commscope-app-Integration\DXP-Deployment-Package. Can you se

[2020-05-06 15:42] mikemalloy-commscope commented on #30
I think the Stop action here is preventing the additional debug info from showing.

`Write-Error "Could not find the cms package in location $dropPath." -ErrorAction Stop`

[2020-05-06 18:25] ovelartelius commented on #30
O crap! I fix asap.

[2020-05-06 18:45] ovelartelius commented on #30
Now it shows the files in the dropfolder if it can´t find the file(s):
2020-05-06T18:41:30.2779355Z Following files found in location D:\a\r1\a/_Website-CI/drop : Website.cms.app.20200430.2.nupkg
2020-05-06T18:41:30.2829802Z ##[error]Could not find the commerce package in location D:\a\r1\a/_Website.NET-CI/drop.
In this case I only got a cms package but set the DeployNuGetPackage to look for a com

[2020-05-06 18:49] ovelartelius commented on #23
Solved in v1.1.4

[2020-05-06 18:49] #23 closed, assigned to nobody

[2020-05-06 20:55] mikemalloy-commscope commented on #30
It's showing the cms and commerce files...

Cms PackagePath:

Following files found in location D:\a\r1\a\_commscope-app-Integration\DXP-Deployment-Package\ : cms.app.1.0.11414.nupkg commerce.app.1.0.11414.nupkg

##[error]Could not find the cms package in location D:\a\r1\a\_commscope-app-Integration\DXP-Deployment-Package\.

##[error]Could not find the cms package in location D:\a\r1\a\_commscope

[2020-05-06 21:30] ovelartelius commented on #30
Ok I see the problem now. Your name on the files does not contain the "AppName". In the documentation from Episerver they say the pattern should be "[AppName].[PackageType].app.[Version].nupkg". So your cms file should have the name ex: Website.cms.app.1.0.11414.nupkg and commerce file: Website.commerce.app.1.0.11414.nupkg.
So the filter in the DeployNuGetPackage task is "*.cms.*.nupkg" and "*.com

[2020-05-07 14:27] mikemalloy-commscope commented on #30
That did it, thanks so much!

[2020-05-07 14:27] #30 closed, assigned to nobody

[2020-05-08 11:05] ovelartelius opened #34 "DeployTo: Support IncludeBlob and IncludeDb"
Make sure that the task DeployTo have support to IncludeBloBs and/or IncludeDb.

[2020-05-11 09:21] #34 closed, assigned to nobody

[2020-05-11 09:21] ovelartelius opened #36 "ExportDb task"
Implement the new Start-EpiDatabaseExport and Get-EpiDatabaseExport methods

[2020-05-13 06:55] #36 closed, assigned to nobody

[2020-05-13 06:56] ovelartelius commented on #36
ExportDb task included in the version v1.3.0.

[2020-05-14 08:57] ovelartelius opened #40 "Use yml templates"
Look into templates and see if there are cases that makes the yml files easier to use.

[2020-05-15 14:37] mikemalloy-commscope opened #41 "ExportDb - timeout"
How does the timeout work? I see you have timeout as an input but I don't see it used anywhere in the code.

[2020-05-15 15:15] ovelartelius commented on #41
There is a loop in the script (Helper.ps1) that checks if the elapsed time has reached the specified time and then break.
`if ($sw.Elapsed.TotalSeconds -ge $timeout) { break }`
It will not cancel the export. There is no function to tell DXP/Azure to cancel the export in the background. But for the task it will stop wait for a success status response and finish the task with a timeout error.
Did it

[2020-05-15 15:40] mikemalloy-commscope commented on #41
Yes, thanks.

[2020-05-15 15:40] #41 closed, assigned to nobody

[2020-05-15 15:42] LinusEkstrom opened #42 "Add Yaml-files for sync of content (DB + blobs) from production to preprod and/or integration"

[2020-05-18 21:22] ovelartelius opened #43 "Add yml files for export db"

[2020-05-18 21:25] ovelartelius commented on #42
/pipelines/Sync-ProdPrep.yml and /pipelines/Sync-PrepInte.yml are now read to use for this content sync.

[2020-05-18 21:25] #42 closed, assigned to nobody

[2020-05-18 21:25] ovelartelius commented on #43
Added 3 yml files for export of db

[2020-05-18 21:25] #43 closed, assigned to nobody

[2020-06-15 12:44] ovelartelius opened #44 "Add number of retries on SmokeTest"
Sometimes the sleeping time is not enough. Should be good to have a retry param so that you can allow the script to retry x times before fail and reset the deploy.

[2020-06-16 15:40] ovelartelius opened #45 "Show start and end DateTime"
Show in the log the current DateTime when start and stop. It is sometimes hard to see that in Azure DevOps. If you want to look up when the actual deploy where made.
DeployTo, DeployNuget, CompleteDeploy task.

[2020-06-16 15:54] arjun-nakkeeran commented on #26
@ovelartelius, For some reason, I still get the error when deploying Cms and Commerce. We use the DeployTo task v1.1.1. And the error is:

`##[error]Cannot validate argument on parameter 'SourceApp'. The argument "cms,commerce" does not belong to the set "cms,commerce" specified by the ValidateSet attribute. Supply an argument that is in the set and then try the command again.`

[2020-06-16 21:47] ovelartelius commented on #26
Hi @arjun-nakkeeran
Are you using YAML or classic task? If YAML, can you show the task config? If classic, take a picture of the settings for that task.
If you have the full log for the DeployTo task when it fails it would also help to search for the problem.
Regards
Ove

[2020-06-17 05:55] arjun-nakkeeran commented on #26
@ovelartelius
We are using the classic task And the yaml preview looks like below:
[code]

And the log for the DeployTo task:
[code]

[2020-06-17 08:31] ruwen commented on #26
I guess this line should convert the string cms,commerce to array. https://github.com/Epinova/epinova-dxp-deployment/blob/012be2405c146e98e87503d57f775590a92b912c/src/DeployTo/DeployTo.ps1#L51

[2020-06-17 08:57] ovelartelius commented on #26
We have been able to recreate the error @arjun-nakkeeran. Working on a fix. Thx for input @ruwen !

[2020-06-17 10:37] ovelartelius commented on #26
@arjun-nakkeeran I will make a release with version 1.4 now. I have no commerce project to test on. But tested and see that it still works for cms. So I have not done anything worse :) Please try when release v1.4 is live and give me a response how it works.

[2020-06-21 00:01] ovelartelius commented on #44
Tested and works fine :)

[2020-06-21 00:01] #44 closed, assigned to ovelartelius

[2020-06-21 00:01] #45 closed, assigned to ovelartelius

[2020-06-30 14:04] arjun-nakkeeran commented on #26
Thanks @ovelartelius. I missed the message. We got the version 1.4 now. But we haven't got the need to deploy commerce manager yet. So could't verify it. Will get back when things didn't work. Thanks for the quick fix by the way.

[2020-06-30 14:11] ovelartelius commented on #26
No problem @arjun-nakkeeran. Just contact me if you get any more problem. I would be happy if you could come back and verify that the fix work so we can close this issue :)

[2020-08-13 12:24] ovelartelius opened #48 "Wait for status - task"
Would it be possible for a task where one is waiting for a specific deployment status "AwaitingConfirmation" ? This would be usefull when Nuget deploy fails, or script fails because of loss of connection. Then deployment will continue in the portal, but reset cannot yet be run.
/Asked from user X

[2020-08-17 09:47] #48 closed, assigned to nobody

[2020-08-17 12:09] ovelartelius opened #55 "Verify/Expect status"
I want a task that will fail if the status is not as expected.

[2020-08-17 12:30] #55 closed, assigned to nobody

[2020-08-25 12:12] mickeb opened #58 "Status output"
Hey,

Nice work with the deployment scripts!

Any particular reason for not outputting `$status.status`  in the error messages below? It would help with troubleshooting.

https://github.com/Epinova/epinova-dxp-deployment/blob/77485a09fab5e4e95bf52340013df3e5cc207ea7/src/DeployNuGetPackage/DeployNuGetPackage.ps1#L108-L116

[2020-08-25 12:37] ovelartelius commented on #58
Hi Mikael

Thx!

The only reason it is not there is because I have not thought about it :) I fix.

[2020-08-25 12:49] ovelartelius commented on #26
I have not heard anything for almost 2 month. I will close this bug. It is fixed.

[2020-08-25 12:49] #26 closed, assigned to ovelartelius

[2020-08-25 12:55] #58 closed, assigned to ovelartelius

[2020-09-24 20:43] ovelartelius opened #61 "Smooth deployment"
Support for smooth deployment.
https://world.episerver.com/documentation/developer-guides/digital-experience-platform/deploying/deployment-process/smooth-deploy/

[2020-09-29 20:46] #61 closed, assigned to ovelartelius

[2020-10-30 10:25] ovelartelius opened #65 "SmokeTest - Optional reset"
It would be nice if the SmokeTest task can have a optional parameter that is true/false so that developers can choose if the task should reset the or not if it fails the tests.
If we could name it: "Reset on fail" and make it default set to true.
The we have a nice option to choose how developers wants the task to behave.

This is useful if developer want to use this task during content sync down.

[2020-10-30 10:55] ovelartelius opened #66 "Create a task specific for ContentSyncDown"
To make it easier for users to understand how to sync down... create a specific task for ContentSyncDown instead of using DeplotTo that could be baffling.

[2020-11-02 16:46] ovelartelius opened #67 "Ship PS module within tasks"
After the problem with https://www.powershellgallery.com/ it is worth look into the possibility to include the Episerver deployment API module into the tasks.

[2020-11-20 16:48] ovelartelius commented on #66
Jobs done

[2020-11-20 16:48] #66 closed, assigned to nobody

[2020-12-09 13:22] ovelartelius opened #78 "Update content in CreateVariableGroup.md"
The section Gather projectis, apikey and secret needs to be updated with the latest changes/version.

[2021-02-15 10:08] samwest88 opened #79 "Unable to resolve package source 'https://www.powershellgallery.com/api/v2"
On the Deploy to (Episerver DXP) Task (the first one we run), we get the error:

2021-02-15T09:35:27.1952022Z ##[warning]Unable to resolve package source 'https://www.powershellgallery.com/api/v2'.
2021-02-15T09:35:27.3100586Z ##[error]No match was found for the specified search criteria and module name 'EpiCloud'. Try Get-PSRepository to see all available registered module repositories.
2021-02-1

[2021-02-15 11:49] ovelartelius commented on #79
Hi Sam
Thanks for reporting this issue. I have created a issue that should solve this problem. https://github.com/Epinova/epinova-dxp-deployment/issues/67
We have experienced this before when https://www.powershellgallery.com went down a couple of hours during fall. So I think that the solution is to implement the EpiCloud module into the extension.
Is this a problem you still have or is it workin

[2021-02-15 11:56] samwest88 commented on #79
Ah yes that looks like it could be the one alright, or at least similar. It's a problem we currently have (just gave it another kick this morning to make sure). Not sure if there are any workarounds for it?

[2021-02-15 12:23] ovelartelius commented on #79
Hmmm. No I don´t know a quick workaround right now. Doing some tests at the moment to see if I can generate this problem.
Are you running in Azure DevOps Server or Services?

[2021-02-15 13:20] samwest88 commented on #79
I'm using an Azure DevOps Build Agent with the following capabilities:

Agent.Name | mtmbuildagent01 |   |  
  | Agent.Version | 2.165.0 |   |  
  | Agent.ComputerName | vm-vsts-w5vmej |   |  
  | Agent.HomeDirectory | C:\vstsagents\agent01 |   |  
 
  | Agent.OS | Windows_NT |   |  
  | Agent.OSArchitecture | X64 |   |  
  | Agent.OSVersion | 10.0.14393 |   |  
  | ALLUSERSPROFILE | C:\ProgramDat

[2021-02-15 19:11] ovelartelius commented on #79
But are you using Azure DevOps Server or Services?
Which task failed? And is it possible to send me the log for the task? (More than the rows in the init issue description)
I did some testing today deploying different projects to DXP but could not get any errors.
Have the task worked before or is this a new release pipeline that you are running the first time? If you have been able to run the task

[2021-02-15 20:45] ovelartelius commented on #79
@samwest88 I have now included the EpiCloud module in the tasks and released a new version v1.9.11. I have some small evidence that it should solve the problem but don´t know for sure. Can you please try run your pipeline again and see if it works?

[2021-02-16 09:28] samwest88 commented on #79
@ovelartelius Thanks, I have checked on the store to see that the new version is present, looks like it is.

With regards to your question of when it was last working, looks like it last worked 20 July 2020 but not since then... hadn't deployed to this environment in quite a while it seems which I hadn't realized.

Still getting the same issue when re-running today. Not sure if any of the other in

[2021-02-16 15:38] ovelartelius commented on #79
I have a potential fix again. I dear not to deploy it during working hours. I will try to deploy this new version tonight and try it. I will let you know the outcome either way.
But it sounds like your Agent is behind a firewall that don´t let your agent to get data from powershellgallery.com. Are you running on your own installed agent or using a Azure DevOps Server?

[2021-02-16 18:58] ovelartelius commented on #79
@samwest88  v1.9.20 should be released now. I have run some tests and it works on Azure DevOps Services. So can you please try run your pipeline again and see if it works?

[2021-02-18 10:10] samwest88 commented on #79
@ovelartelius OK your update that time has worked, thanks very much for your help. Closing.

[2021-02-18 10:10] #79 closed, assigned to nobody

[2021-02-22 04:34] ovelartelius commented on #67
#79

[2021-02-22 04:34] #67 closed, assigned to nobody

[2021-02-22 05:18] ovelartelius opened #117 "Use EpinovaDxpDeploymentUtil"
Update tasks to use EpinovaDxpDeploymentUtil

[2021-02-22 11:38] #78 closed, assigned to ovelartelius

[2021-02-22 11:39] #117 closed, assigned to ovelartelius

[2021-02-24 14:15] SergeyP78 opened #120 "Deploy NuGet package task is not working for commerce"
I'm getting the below error:
##[error]The variable '$resolvedCmsPackagePath' cannot be retrieved because it has not been set.

The reason is that the resolvedCmsPackagePath variable is not defined by default in DeployNuGetPackage.ps1. But it is used in a clause at line 90: if ($null -ne $resolvedCmsPackagePath -and $null -ne $resolvedCommercePackagePath).
I suggest to initialize the variable as nu

[2021-02-24 22:54] ovelartelius commented on #120
Hi @SergeyP78
I totally agree with you. Have done the changes and deployed v1.9.43. So try to run the task again. When the task has run you should be able to see that the task (DeployNuGetPackage) should have version 1.1.19.
Poke me again if you still get error and I will fix ASAP.
Kind regards
Ove

[2021-02-25 11:46] SergeyP78 commented on #120
Hi @ovelartelius
Thank you for the quick fix! The commerce deployment task works now. But I found another issue: I used an incorrect url (it returned the 302 status) inside my 'Smoke test' task and got the below error:
`The property 'Response' cannot be found on this object. Verify that the property exists.  `
I guess this error is happening inside the catch block at line 77:
`                $sta

[2021-02-25 12:45] ovelartelius commented on #120
Hi @SergeyP78
Nice to hear that that last update solved your issue.
Hmmmm ok. I think we need to split this  into different things.
1. I understand that there must be something wrong with the script that can not get the Response object. I will look into that ASAP.
2. If you have a URL that return 302. Try to change that to a URL that should response in 200. Like https://something/util/login.aspx o

[2021-02-25 12:46] ovelartelius opened #123 "SmokeTest Response error"
I used an incorrect url (it returned the 302 status) inside my 'Smoke test' task and got the below error:
The property 'Response' cannot be found on this object. Verify that the property exists.
I guess this error is happening inside the catch block at line 77:
$statusCode = $_.Exception.Response.StatusCode.value__

[2021-02-25 15:12] SergeyP78 commented on #120
Thank you for the update, @ovelartelius !
Regarding your suggestions:
2. I've already changed the URL and the task works well now 👍
3. It was a deployment to DXP integration and there was no option in the paasportal to complete or reject it :)

Best regards,
Sergey

[2021-03-02 09:46] erdihu opened #124 "Deploy Nuget package status updates"
Include, if possible, status updates & warnings from the job Depliy Nuget Package where output type is Information.

[2021-03-07 20:18] #120 closed, assigned to nobody

[2021-03-07 20:21] ovelartelius commented on #22
I don´t think that this is something needed. Will open a new one if so.

[2021-03-07 20:21] #22 closed, assigned to ovelartelius

[2021-03-07 20:25] ovelartelius commented on #124
Hi @erdihu
Thanks for creating this issue. But I would like to get some more description so I really understand what you are looking for.
Do you mean that you can see alot more information in the paas portal but when use DeployTo i Azure you can only see how many procentage that has been done? If I missunderstand you please fill in the gaps.

[2021-03-07 20:33] ovelartelius opened #126 "DDeploy"

[2021-03-08 07:33] erdihu commented on #124
Hi,
Yes! In the PaaS Portal there's a lot more information about the process. Is there a technical limitation that prevents showing the same information?

[2021-03-08 12:11] ovelartelius commented on #124
Hi @erdihu
Ok. When I created this task a couple of months ago, this information where not shown from the EpiCload module that is used to do this. But I will have a extra look if this has been changed. I get back to you.

[2021-03-09 11:56] ovelartelius commented on #124
Hi @erdihu
I have digged into this now and can only sadly announce that the information you want to see is not available from the EpiCloud module. But Im going to pitch this for Episerver/Optimizely so that they now that we are atleast 2 persons that wants this feature. :)

[2021-03-09 11:58] erdihu commented on #124
Hi Ove, thanks for the response. I suspected this would be the case since I couldn't find any filtering function in the script but I'm far from a Powershell guru so I wasn't sure. Let's hope that Episerver implements this.

[2021-03-09 12:01] #124 closed, assigned to nobody

[2021-03-09 16:48] #126 closed, assigned to ovelartelius

[2021-03-11 22:06] #40 closed, assigned to nobody

[2021-03-16 15:57] ovelartelius opened #132 "Await status: Error message - Count cannot be found"
Reported by @tomludd
The property 'Count' cannot be found on this object. Verify that the property exists.

![image](https://user-images.githubusercontent.com/4722784/111340212-b96c1d80-8678-11eb-864e-8cc5b5f73574.png)

[2021-03-16 16:02] ovelartelius commented on #132
Hi @tomludd
I can see that the EpiCloud version is old. It should be v0.13.15. Not 0.12.14.
The version of the task is also old. Epinova DXP deployment  released a new version 2021-03-09 v1.10.12.
The image is from 2021-02-26. Have you run this task since then?

[2021-03-16 16:52] ovelartelius opened #133 "Print EpiCloud version in result log"

[2021-03-22 10:43] #133 closed, assigned to ovelartelius

[2021-03-22 10:44] ovelartelius commented on #132
Added retry function so it will not fail directly even if DXP API return bad request.

[2021-03-22 10:45] ovelartelius commented on #132
Close this issue. We will open a new if any problem pop up again.

[2021-03-22 10:45] #132 closed, assigned to ovelartelius

[2021-03-23 20:35] #65 closed, assigned to ovelartelius

[2021-03-23 20:35] #123 closed, assigned to ovelartelius

[2021-04-19 14:11] erdihu opened #147 "Allow Reset-EpiDeployment when status is not AwaitingVerification"
I do not know if this limitation is coming from EpiCloud or Epinova package but I wanted to ask here first in case the limitation exists only at this package.

Sometimes the slot environment crashes directly after the deployment warmup phase gets stuck until it times out. It would be nice to reset the deployment slot manually in such cases. Currently the current message is given if reset is run:

[2021-04-21 07:51] ovelartelius commented on #147
Hi @erdihu. Sorry for late answer. That limitation is from the EpiCloud, or actually from the DXP/Azure environment. There is no chans to cancel when you are in the middle of a operation. But it could be other workarounds that you could use.
Is it possible to give me some more detailed information about how your pipeline is setup so that I can understand a little bit more about your situation?
Reg

[2021-04-21 12:25] erdihu commented on #147
Hi @ovelartelius, no problem at all. Thank you for this package, it works great!

Sometimes the warmup process takes very long but after couple of minutes the process has started it is still possible to surf into the slot environment. In case there are any errors on the site, we have to wait until the warmup finishes in order to cancel the deployment. I was wondering if it is possible to just canc

[2021-04-21 15:13] ovelartelius opened #148 "Better documentation about nupkg convension from episerver"
$resolvedCmsPackagePath = Get-ChildItem -Path $dropPath -Filter *.cms.*.nupkg i

https://github.com/Epinova/epinova-dxp-deployment/blob/e7ac9f26eeaa318c587b6228af7febea765d65bf/src/DeployNuGetPackage/DeployNuGetPackage.ps1

[2021-04-21 15:19] ovelartelius commented on #147
Hi @erdihu i agree that the deploy time is very high. Everybody struggle with that problem. But are you using direct deploy? That will make your deployment time much faster. https://www.epinova.se/nyheter-och-blogg/utvecklarbloggen/2021/directdeploy-with-epinova-dxp-deployment/
Another thing that we did to make the deploy faster was actually to spend some time making sure that the website started

[2021-05-12 12:55] jorgenhelgheim opened #149 "New option for ZDD in "Deploy NuGet package" task"
Could you provide an option for Zero Downtime Deployment inside task "Deploy NuGet package (EPiServer DXP)"

.EXAMPLE
        Start-EpiDeployment -ClientKey $myKey -ClientSecret $mySecret -ProjectId $projectId -TargetEnvironment Production -DeploymentPackage cms.app.1.0.0.nupkg -ZeroDownTimeMode ReadOnly

         Starts a deployment of a code package to Production environment with zero downtime r

[2021-05-12 20:31] ovelartelius commented on #149
Hi @jorgenhelgheim
ZDD has been supported in the task "Deploy Smooth To" during the beta test period. I have missed that the beta period is over. So I have now moved the ZDD parameter into the "Deploy To" task. The new version 1.11.5 include the ZDD in the "Deploy to" task. I have started to write a warning for those that use the "Deploy Smooth To" today.
Please try to use the "Deploy To" task and

[2021-05-14 10:50] jorgenhelgheim commented on #149
Hello. Great, but..

I can not use "Deploy To" since I merge secrets from DevOps into configuration files at deploy time (per. env). Production configuration on preproduction are missing production-secrets, so I can not use "Deploy To" or Paasportal to this env. And since Episerver supports use of ZDD with Deploy nugetpackage as well, it would be nice to have this posibility in your great module a

[2021-05-19 12:46] ovelartelius commented on #149
Hi @jorgenhelgheim
:) Since you are so nice to me I have added this feature to the DeployNugetPackage task. I don´t have a project with this setup. So I would be super happy if you could try this and get back to me with the result. The new version v1.12.0 include this new update.

[2021-05-21 14:57] jorgenhelgheim commented on #149
Thanks Ove. :)
The DeployNugetPackage task works with ZDD. I tested this today. Thanks for this update.

I have not tried to Reset the ZDD deployment from Devops, but I guest that is not part of the DeployNugetPackage task anyways.

[2021-05-27 14:03] #149 closed, assigned to nobody

[2021-05-27 14:04] #147 closed, assigned to nobody

[2021-05-27 21:20] oyvindwh opened #155 "Deploy Smooth To (Episerver DXP) logs error, but paas portal shows success"
This is the message:
![image](https://user-images.githubusercontent.com/106393/119898118-b11a4380-bf41-11eb-9001-494d813bfb82.png)

The paas portal shows success and possible to complete. Need to do verification in the portal instead of devops.

Any ideas?

[2021-05-28 07:15] oyvindwh commented on #155
Hit default timeout on 1800 seconds = 30 minutes.

[2021-05-28 07:15] #155 closed, assigned to nobody

[2021-06-09 19:47] mikemalloy-commscope opened #156 "Deploy nuget package warning"
When using the Deploy nuget package (Episerver DXP) task I see the following warning 2 times.

##[warning]Because the Az modules have all the capabilities of AzureRM modules and more, we will retire the AzureRM modules on 29 February 2024. Learn more about the migration to Az: http://aka.ms/azpsmigrate.

[2021-06-11 09:16] ovelartelius commented on #156
Hi @mikemalloy-commscope
I agree and don´t like the warnings. I will give it another try to go around this problem. I was hoping that Optimizely would change there Epicloud code to handle this.
I will give it a shot. I will get back with info...

[2021-06-18 07:59] ovelartelius opened #157 "Await status - Got error: The property 'Count' cannot be found on this object. Verify that the property exists."
2021-06-16T13:55:54.6746941Z ##[section]Starting: Await status on Production
2021-06-16T13:55:54.6953141Z ==============================================================================
2021-06-16T13:55:54.6953484Z Task         : Await status (Episerver DXP)
2021-06-16T13:55:54.6953785Z Description  : Await status to be in AwaitingVerification/Reset/Succeeded. (Episerver DXP, former DXC)
2021-06-16

[2021-06-18 08:22] ovelartelius opened #158 "Expect status: Status that handle "Succeeded or Reset""
We need a status that could be one of Succeeded or Reset.
Today we can only specify either Succeeded or Reset. Not "Succeeded or Reset" as one option.

[2021-06-18 12:47] #157 closed, assigned to nobody

[2021-06-18 12:47] #158 closed, assigned to nobody

[2021-06-18 13:13] ovelartelius commented on #156
@mikemalloy-commscope
In my testenvironment I was able to remove the warning. Just did a test with the latest version and I still get this warning in Azure DevOps. I will open this issue again and continue try fix this.

[2021-06-19 09:48] ovelartelius commented on #156
Duhh!
I found a solution :) https://docs.microsoft.com/en-us/powershell/azure/faq?view=azps-6.1.0&viewFallbackFrom=azps-5.7.0#how-do-i-disable-breaking-change-warning-messages-in-azure-powershell
Was mutch simplier than i thought. Now you should not receive these warnings @mikemalloy-commscope
Released in v1.14.1.
/Ove and out

[2021-06-19 09:49] #156 closed, assigned to nobody

[2021-06-20 22:57] ovelartelius opened #165 "Create YML templates"

[2021-07-12 09:14] lars-w-pedersen opened #166 "Run in ubuntu pipeline"
When i try to run the task DxpDeployNuGetPackage@1 in a pipeline using "vmImage: ubuntu-latest" i get the following error:

##[error]The current operating system is not capable of running this task. That typically means the task was written for Windows only. For example, written for Windows Desktop PowerShell.

would it be possible to enable this to run in ubuntu?

[2021-07-12 18:50] ovelartelius commented on #166
Hi @lars-w-pedersen
The Epinova DXP deployment extension use PowerShell script to talk to DXP API. So the only supported operating system supported for this tasks is windows. So if you use `vmImage: 'windows-latest'` it will work just fine.
Regards Ove

[2021-07-13 04:35] lars-w-pedersen commented on #166
Hi @ovelartelius
Yes i know. But some of the other tasks i run in my pipeline are very slow on windows so I would like to be able to use ubuntu to speed up things.

[2021-07-13 08:46] lars-w-pedersen commented on #166
So if the scripts could run using Powershell Core then it could be used in ubuntu and my pipeline would run 50% faster :)

[2021-07-15 07:13] ovelartelius commented on #166
Aaaaa. I can not promise anything right now but will look into it.

[2021-07-16 08:33] lars-w-pedersen commented on #166
I talked to Optimizely they might need to update a manifest or something, but they say their scripts can run in core.

[2021-07-21 17:59] mikemalloy-commscope commented on #156
Perfect, thanks so much. (Sorry for the late response)

[2021-09-08 18:23] ovelartelius commented on #166
@lars-w-pedersen FYI. Have found a way to solve this. I have been able to convert 3 tasks at the moment. I will continue with more tasks. ASAP. I just wanted you to know that Im working on it :)

[2021-09-09 10:51] lars-w-pedersen commented on #166
thanks that is great :)

[2021-09-15 18:52] ovelartelius commented on #166
Hi @lars-w-pedersen. Now the v2.0.1 i released and I would be happy if you could test the new v2 tasks that now are cross platform supportive. So if you use YAML you just change Dxp*@1 => Dxp*@2.
I have tested all tasks in both windows/ubuntu/macos and have not found any problem. But I want to see that it works for everybody.
Please contact me if you need any help.

[2021-09-16 09:15] lars-w-pedersen commented on #166
Hi @ovelartelius that is great, sadly i do not have access to a DXP environment anymore. It was a Beta environment which is now closed. But i am sure that i will get the opportunity again soon, and then i will make sure to use v2

[2021-09-16 12:00] ovelartelius commented on #166
@lars-w-pedersen ok. Understand! I will close this issue now and just feel free to create a new if something pops-up.

[2021-09-16 12:00] #166 closed, assigned to nobody

[2021-09-23 12:26] ovelartelius opened #173 "DeployNuGetPackage: Error when try to deploy without smooth deploy"
![image](https://user-images.githubusercontent.com/4722784/134506450-0af9db95-11ec-45ce-badb-39abd64a7ff8.png)

[2021-09-23 12:27] ovelartelius commented on #173
This is related to v1 task....

[2021-09-23 13:38] ovelartelius commented on #173
Verified by colleague. Problem solved in v2.0.2.

[2021-09-23 13:38] #173 closed, assigned to ovelartelius

[2021-11-16 12:30] tomludd opened #176 "Linux environment does not support uploading the same package multiple times"
Add-EpiDeploymentPackage can only be invoked once per package/nuget in a linux environment.

So when we deploy the same package, that was deployed to preproduction, to production deployment fails with the following error.

Error:
##[error] Set-AzStorageBlobContent: /home/vsts/work/_tasks/DxpDeployNuGetPackage_2bc993e5-c27c-4a24-aeaf-0fc403debc8d/2.0.12/ps_modules/EpiCloud/EpiCloud.psm1:424
Line 42

[2021-11-16 12:34] tomludd commented on #176
Here is the response i got from Optimizely around this issue:

[2021-11-17 11:29] ovelartelius opened #179 "DeployNuGetPackage retry logic"
Handling when lost connection during Start-DxpProgress

If connection is lost. Have logic to retry example 3 times with 5-10 sec wait between each try.

[2021-11-26 14:37] erdihu opened #180 "Error when directDeploy checkbox is checked"
I am using Deploy Nuget package job to do a direct deploy to Integration but the following error occurs:
I have even tested adding a variable named DirectDeploy in variables for the release to no avail.

[code]

[2021-11-29 07:55] ovelartelius commented on #180
Hi @erdihu
Is it possible for you to take a copy the log for the task? You can remove the ClientKey, ClientSecret and ProjectId. But I need to know which agent, task version, EpiCloud version etc to help you.
Regards, Ove

[2021-11-29 08:25] erdihu commented on #180
Hi Ove,
Thank you for looking into it, I appreciate your help.
I extracted the entire task log and redacted the sensitive parts. I can't see any output for EpiCloud in the log other than ``[ ]``; I am not sure if that should be the case. However I checked another job that has completed successfully (without DirectDeploy) and it has the same output for EpiCloud. I should also mention that I tried t

[2021-11-29 08:57] ovelartelius commented on #180
@erdihu hmmm
Super strange. I can see that you are using windows agent... It is strange that it does not specify the EpiCloud version.
Are you running Azure DevOps on premise or cloud?

One other thing that could be nice to know is if you could add a task before DeployNugetPackage. If you could add the task ExpectStatus and set "Target environment" = Integration and "Expected status"=Succedded. An

[2021-11-30 10:26] arvlun-pf commented on #180
@ovelartelius Hello, Im taking over for erdihu since he's busy atm. We're using DevOps cloud. I'll add that directdeploy worked up until around 4th of october (maybe a couple of days before. not sure when the previous release was but thats when we noticed the issue first. We didnt change anything in the tasks at the time on our end, if that gives you any hints as to what could be going on. Thanks

[2021-11-30 13:20] ovelartelius commented on #180
Hi @arvlun-pf
The only thing I can see diff between our logs is the PowerShell version. I starting to think that the actual agent could be the problem. Is the agent a Azure DevOps cloud agent or a agent that you installed on any of your machines?
What agent specification are you using? vs2017-win2016 or windows-2019 or windows-2022?
![image](https://user-images.githubusercontent.com/4722784/144053

[2021-11-30 14:23] ovelartelius commented on #180
@arvlun-pf
Another thing that you could test is:
1. Make sure that the DropPath variable is changed to only use "\\" char. D:\build_agents\agent1\_work\r1\a/[redacted].nupkg => D:\build_agents\agent1\_work\r1\a\[redacted].nupkg
2. Make sure to change the "Source alias" to not contain spaces if it does.
![image](https://user-images.githubusercontent.com/4722784/144064557-bf2707f7-9c5f-4a45-8cae-41b

[2021-12-01 14:03] arvlun-pf commented on #180
@ovelartelius We were using our own agent. I tried changing to an Azure cloud agent with spec: windows-2019 and that seems to have the trick. It could, as you pointed out, be some issue with the powershell version on our agent, we'll look into it.

Thanks for your help!

[2021-12-01 14:53] ovelartelius commented on #180
@arvlun-pf  Very good to know! Do you think we should close this issue then? You can always open a new one if there is anything new that pops up...

[2021-12-01 15:22] arvlun-pf commented on #180
@ovelartelius Yes, we can close it, ty

[2021-12-06 21:01] peter-tornqvist-kan opened #181 "DownloadDxp(DbN)Blobs Join-Parts doesn't support UNC paths"
The start of an UNC path ("\\\\") is removed by the Join-Parts method which makes Test-Path fail to find existing files.

Suggested solution: remove the `trim($Separator)` in Join-Parts. In this specific case it is probably not necessary (at least not on Windows)

Bonus: add a Replace to this line to convert URI style paths to UNC style paths:
`$filePath = (Join-Parts -Separator '\' -Parts $downlo

[2021-12-06 22:09] #180 closed, assigned to ovelartelius

[2021-12-06 22:11] ovelartelius commented on #176
Problem solved 20 days ago... :|

[2021-12-06 22:11] #176 closed, assigned to nobody

[2021-12-08 15:54] ovelartelius commented on #181
@peter-tornqvist-kan  Thanks for your finding and tips. I will look into that ASAP.

[2022-01-07 09:39] ovelartelius opened #189 "Linux: Deploy NuGet package to Production"
Error message: A package named 'XXX.nupkg' is already linked to a deployment and cannot be overwritten.

Deploy is success but the error message make the task to fail in the pipeline.

[2022-01-09 19:20] ovelartelius commented on #189
Fix released. Extension v2.1.10. Task Deploy NuGet Package v2.1.8.
Waiting for test from colleagues...

[2022-01-12 12:45] ovelartelius commented on #189
Fix solved the problem. Verified by colleagues...

[2022-01-12 12:45] #189 closed, assigned to ovelartelius

[2022-01-24 23:30] ovelartelius commented on #181
@peter-tornqvist-kan I have done the changes that you requested. Should be a new version v0.1.1 published to PowerShellGallery. Hope that helps you.
Cheers!

[2022-01-24 23:30] #181 closed, assigned to ovelartelius

[2022-01-25 00:14] peter3 commented on #181
@ovelartelius excellent, thank you very much!

[2022-02-04 09:22] ovelartelius opened #205 "Warmup built-in when direct deploy"
When use direct deploy it would be nice to have warmup for the site. Optimizely does not do that when direct deploy.

[2022-02-10 04:45] nickginis opened #206 "ZeroDownTime mode is providing an incorrect value when not specified"
When using the Deploy nuget package (Optimizely DXP) task and not selecting a ZeroDownTime the argument provided to the powershell command is "-ZeroDowntimeMode Not specified" which causes an error as "Not specified" is not a valid value.

[2022-02-10 07:55] ovelartelius commented on #206
Hi @nickginis
Thanks for your report. Do you have some more information about which type of agent you are using? Is there any chance that you have a log that I can look at? That would help to find the issue.

[2022-02-10 22:07] nickginis commented on #206
Hey, We are using agent "windows-latest". Also, this appears to occur when you've first selected a value for ZeroDownTime such as "ReadOnly" and then change it back to a blank value. This causes the value to become "Not specified". I have attached a screenshot of what appears after changing the value back to blank.

![image](https://user-images.githubusercontent.com/38271674/153504640-2bf0470e-e33

[2022-02-10 22:10] nickginis commented on #206
This is an example log of what occurs:

2022-02-10T02:02:13.9935086Z ##[section]Starting: Deploy NuGet package to Integration
2022-02-10T02:02:14.0120019Z ==============================================================================
2022-02-10T02:02:14.0120396Z Task         : Deploy nuget package (Optimizely DXP)
2022-02-10T02:02:14.0120781Z Description  : Start a deploy of a nuget package to tar

[2022-02-11 08:59] ovelartelius commented on #206
@nickginis Thanks! I will look in to it ASAP. I have a new version coming out soon. I will try to fix it in next version. I will give you a note when it is live

[2022-02-13 19:55] ovelartelius commented on #206
Hi @nickginis
v2.2.12 should solve your issue. Please try and get back to me if you still have any problem.
Regards
Ove

[2022-02-13 22:04] nickginis commented on #206
Hey Ove,

The issue has been resolved. Thanks for the quick response!

Nick

[2022-02-14 09:01] ovelartelius commented on #206
Nice! I will close this issue then.

[2022-02-14 09:01] #206 closed, assigned to nobody

[2022-02-14 09:02] ovelartelius commented on #205
Warm-up implemented in v2.2.12

[2022-02-14 09:02] #205 closed, assigned to ovelartelius

[2022-02-23 21:20] ovelartelius opened #210 "Issue with commerce deploy"

[2022-02-24 21:48] ovelartelius commented on #210
Fixed in v2.2.13

[2022-02-24 21:48] #210 closed, assigned to ovelartelius

[2022-03-14 11:05] tomludd opened #213 "Deploy NuGet package fails if Source Alias has spaces"
When artifact path contains whitespace "Deploy NuGet package" if fails as it does not use the whole path.
Path should be 'D:\a\r1\a\_Malorama - Site\drop' not 'D:\a\r1\a\_Malorama'

Example Source alias: '_Malorama - Site'
![image](https://user-images.githubusercontent.com/13499493/158159536-671cd8fb-54ed-458e-a3ca-d90c67f2ff85.png)

Error message:
##[error]Get-ChildItem : Cannot find path 'D:\a\r

[2022-03-15 14:05] ovelartelius commented on #213
rename?

[2022-03-29 18:22] ovelartelius commented on #213
v2.2.14

[2022-03-29 18:44] #213 closed, assigned to nobody

[2022-03-30 13:47] haugsten opened #216 "The variable '$myPackages' cannot be retrieved because it has not been set."
I get the following error deploying to preproduction after deploy to integration.
DXP environment: Linux

2022-03-30T13:09:29.8038231Z cms package already exist in container.
2022-03-30T13:09:29.8041074Z
2022-03-30T13:09:29.8976302Z ##[error][91mInvalidOperation: [0m/home/vsts/work/_tasks/DxpDeployNuGetPackage_2bc993e5-c27c-4a24-aeaf-0fc403debc8d/2.2.16/DeployNuGetPackage.ps1:98
[96mLine |
[96

[2022-03-31 09:20] ovelartelius commented on #216
Hi @haugsten
I will look into the problem ASAP. Getting back to you....

[2022-03-31 13:34] ovelartelius commented on #216
Hi again @haugsten
I have released a update where $myPackages is init... v2.2.15. The DeployNuGetPackage task is in v2.2.17
![image](https://user-images.githubusercontent.com/4722784/161066271-27eb1e28-410c-4f34-9935-e926cddb077d.png)

I can see that the message also contain "cms package already exist in container.". So the problem in Linux environment is that it can not overwrite the file on disc

[2022-03-31 15:44] ovelartelius commented on #216
Hi @haugsten
Now we have solved the issue. v2.2.16 is released and we have verified that it works in our environment. We manage to get the same error so we know that it works now.
Have a good evening!

[2022-03-31 15:44] #216 closed, assigned to nobody

[2022-04-01 12:59] haugsten commented on #216
Great, thank you very much!

[2022-04-28 09:00] psandgren commented on #180
I have the same problem with a Win server 2016 machine. Powershell version 5.1.17763.2268.

Changing to a cloud agent (Win-latest) with a PSVersion 5.1.20348.558 worked.

[2022-06-16 07:01] peter3 opened #221 "Example pipelines for ubuntu?"
Hi, I've been trying to use the example pipelines as a base for our own deploy scripts to DXP Linux (specifically the Develop-Inte.yaml), but it has some issues I have been unable to resolve. Are you planning on creating example files that works with ubuntu as well?

Thanks

[2022-06-17 09:15] ovelartelius commented on #221
Hi @peter3 ! Yes that is the plan. You are talking about build and release .Net5 or 6 project on ubuntu and release to a Linux DXP instance right?

[2022-06-17 10:52] peter3 commented on #221
Yes, that is what I am currently working with :)

[2022-06-17 14:48] ovelartelius commented on #221
I have created this example yml now.
https://github.com/Epinova/epinova-dxp-deployment/blob/feature/221-ubuntu-pipeline/Pipelines/Develop-Inte-ubuntu.yml
https://github.com/Epinova/epinova-dxp-deployment/blob/feature/221-ubuntu-pipeline/Pipelines/azure-pipelines-steps.yml
I have not been able to test these yeat. But a almost identical version of these works in another project. Please try and get b

[2022-06-22 11:18] ovelartelius commented on #221
@peter3 did the yml examples help you? :)

[2022-06-23 12:17] ovelartelius opened #222 "DeployNuGetPackage: DropPath none support for spaces in foldernames"
Ex: -DropPath D:\a\r1\a/_Something - public web/something.cms.ubuntu
Needs to be -DropPath "D:\a\r1\a/_Something - public web/something.cms.ubuntu" to work.

Error message:
2022-06-23T11:24:46.3237692Z ##[error]D:\a\_tasks\DxpDeployNuGetPackage_2bc993e5-c27c-4a24-aeaf-0fc403debc8d\2.2.18\DeployNuGetPackage.ps1 : A positional
parameter cannot be found that accepts argument 'web/something.cms.ubuntu

[2022-06-24 06:39] oyvindwh commented on #222
Is this the same error @ovelartelius? There are no spaces and worked with 2.2.18, failes with 2.2.19.

![image](https://user-images.githubusercontent.com/106393/175476322-f5440997-b3ac-43f1-8c2c-3885239990f3.png)

[2022-06-24 08:10] johanbenschop opened #225 "Error with DropPath on DxpDeployNuGetPackage since 2.2.19"
Yesterday evening deploys to our DXP integration environment started to fail while earlier they worked just fine. We haven't made any changes to our deployment configuration. The ones that worked fine use version 2.2.18 of the DxpDeployNuGetPackage task, while version 2.2.19 gives the following error: `Cannot find path '/home/vsts/work/1/s/"/home/vsts/work/1/DxpPackage"' because it does not exist`

[2022-06-24 08:13] tomludd commented on #222
@oyvindwh seems like this has only been tested on windows agents, not ubuntu. As a temporary workaround use windows latest as deployment agent.

![image](https://user-images.githubusercontent.com/13499493/175493398-a443d619-a1d6-45d5-be5d-024a684e400e.png)

[2022-06-24 08:22] tomludd commented on #225
Updates in https://github.com/Epinova/epinova-dxp-deployment/pull/224 https://github.com/Epinova/epinova-dxp-deployment/issues/222 breaks deployment when using ubuntu agent.

As a workaround you can use a windows agent when deploying.
![image](https://user-images.githubusercontent.com/13499493/175494372-08882904-06c4-4f46-b3bb-48a267947639.png)

[2022-06-24 08:22] oyvindwh commented on #222
That is correct, we changed the agent to run on windows latest and that fixed the issue.

[2022-06-24 15:15] tomludd commented on #222
@oyvindwh this ubuntu agents should be working again now, #226 is a rollback

[2022-06-24 15:20] ovelartelius commented on #225
@johanbenschop Hi. I know that this is confusing. We have release v2.2.19 of the DXP extension in Azure DevOps. That should contain the task DeployNuGetPackage with v2.2.20. I can see in your log that the task you run with was v2.2.19. That is the old one that are related to #222 issue.
So the solution is now to create a new release so that you have a chance to get the task DeployNuGetPackage v2.2

[2022-06-24 15:23] ovelartelius commented on #222
@oyvindwh Hi. I have now release the DXP extension v2.2.19 that will contain the task DeployNuGetPackage v2.2.20. This release is a rollback of the erroneous code I release in the DXP extension v2.2.18.
Sorry about this!
Now you can go back to use ubuntu.

[2022-06-27 07:29] johanbenschop commented on #225
Hello there. Yes, our pipelines are indeed back in working order again. Thank you very much.

[2022-06-27 07:29] #225 closed, assigned to nobody

[2022-07-02 09:31] peter3 commented on #221
@ovelartelius I've just noticed that you've done this. Great job! I will try it out during next week. I've already created our own pipelines, but still nice to check out how you've solved it :)

[2022-09-01 11:48] ovelartelius opened #227 "Upgrade to Epicloud v1.2"

[2022-09-01 12:35] yophen opened #230 "Publish-Package : Cannot bind argument to parameter 'PackageFile' because it is null."
Using windows agent to deploy a nuget package to Integration. The build artifact seems ok (contains the nuget package), but I keep getting this error with running the DxpDeployNuGetPackage task:
"Publish-Package : Cannot bind argument to parameter 'PackageFile' because it is null."
It feels like the artifact is not found (due to the null reference), but the drop path to the artifact seems ok.
The

[2022-09-01 12:52] #230 closed, assigned to nobody

[2022-09-01 12:58] ovelartelius commented on #230
Hi @yophen
What is the name of the artifact file? There is pattern that the script is using to find the artifact file. Ex: "*.$PackageType.*.nupkg". So your file should have the name like "something.cms.version.nupkg". Other real example is: "Website.cms.app.20220627.1.nupkg"
Kind regards
Ove

[2022-09-01 13:54] yophen commented on #230
Yes! I skimmed through some of the other issues and came across a similar one where you pointed out the importance of name formatting of the package. It was missing the "website"-part. Changed the package name and it fixed the issue. Thank you for getting back to me.

[2022-09-01 14:00] ovelartelius commented on #230
Nice! No problem! Im glad that I can help!

[2022-09-01 21:06] caleb-brilliance opened #231 "StackOverflowException in "Deploy nuget package (Optimizely DXP)""
As the title implies, we're running into an error while trying to deploy and the log isn't particularly helpful:

Looking for help either in the form of suggestions for what may be wrong or if there's any way to increase logging so we can potentially debug better on our own.

[2022-09-02 07:51] ovelartelius commented on #231
Hi @caleb-brilliance
Hmmm never seen that error message before. Is the info you posted all info from the log? I miss some information in the beginning with info about version etc.
Regards
Ove

[2022-09-02 14:01] caleb-brilliance commented on #231
@ovelartelius Here's the rest of the log:

[2022-09-05 08:41] ovelartelius commented on #231
Hi @caleb-brilliance
I can see that it execute the latest version of the task, but for some reason it use Epicloud v1.1. It should use v1.2.... but that should in the other hand not create this error message.
If Im not wrong you are using a windows agent. Is it the latest? Or are you using some old windows version agent like 2016 or older?
Are you using any other tasks that is not cross-platform c

[2022-09-05 09:01] #227 closed, assigned to ovelartelius

[2022-09-05 09:02] #221 closed, assigned to nobody

[2022-09-05 15:11] tomludd commented on #222
@ovelartelius I think we should support spaces in filename, it just went bad last time.

[2022-09-06 14:00] ovelartelius commented on #222
I understand the problem @tomludd. But it was not that simple to fix. I will create a new task for this and see if I can find a solution with new fresh eyes after vacation....

[2022-09-06 19:33] caleb-brilliance commented on #231
You're correct that we're using a windows agent, currently v2.193.0 which appears to be about a year old and v2.210.0 would be the latest non-prerelease. Unfortunately we can't change to the ubuntu agent at this time without numerous changes elsewhere. For more context in case it helps, we're using this deploy step in the Releases section in DevOps as opposed to the Pipelines section. We also have

[2022-09-07 10:58] JayWilk opened #232 "Tasks aren't available within Azure DevOps releases anymore"
- Install the latest version of this extension into your Azure DevOps organisation from the Visual Studio Marketplace (time of writing this is 2.2.20)
- Observe that the extension has successfully installed by going to Organization Settings -> Extensions in DevOps
- Go to your Azure DevOps instance and go to create a new release pipeline
- Next to 'Select a template' - search for any of the Epinov

[2022-09-08 08:22] ovelartelius commented on #232
Hi @JayWilk
Thanks for info! I will have a look...

[2022-09-08 09:29] ovelartelius commented on #232
Hi @JayWilk
If I look on your first image you are searching for a release pipeline template. We have never created a template. So if you click on a "stage" and then click "Add task". Then do should be able to search for the Epinova tasks. And if you want to find all of them you can search for "DXP" since all tasks are found in that case.
![image](https://user-images.githubusercontent.com/4722784/1

[2022-09-08 12:28] oyvindwh opened #233 "Additional Development Environments (ADE) and deploy"
Optimizely has a feature for Linux containers called ADE where the client can have more than three default environments Integration, PreProduction and Production. See attached image for ADE1.

We would like to use the dxp deployment extension for deploying to this 4'th environment and not use powershell, but if I'm not wrong these environments are static in the extension?

Any plans for supporting

[2022-09-09 07:41] ovelartelius commented on #233
Hi @oyvindwh
I did not know this. I will have a look and get back to you ASAP.
Cheers!

[2022-09-09 13:59] ovelartelius commented on #233
Hi @oyvindwh
I will try to implement the "Other" function for you. But can you be my testpilot? I have no Linux environments that I can test on but want to help you out. What do you say? :|

[2022-09-09 14:27] ovelartelius commented on #231
Hi @caleb-brilliance
Which "Agent specification" are you using?
![image](https://user-images.githubusercontent.com/4722784/189373230-5974239e-2405-42cd-9d5f-22c3effcdc02.png)

[2022-09-09 14:30] oyvindwh commented on #233
I do not have the 4'th environment, but we have a client that has it so I can ask them. I guess it would be possible to write one of the default environment names just for the first verification. If you implement it,  we can test! Thanks.

[2022-09-09 14:34] caleb-brilliance commented on #231
We're using "Run on deployment group" instead of "Run on agent" so the settings are different than in your picture. As stated before though, our windows agent is currently on v2.193.0. It's on our client's server but we might be able to look into updating it if you think that would resolve the issue.

On another note: Yesterday one of our releases in this same pipeline surprisingly managed to succ

[2022-09-09 15:33] ovelartelius commented on #231
Hmmm. Which windows server(s)s version are used when you use "Run on deployment group"? Is it more then one server running in the group? Are you running some special tasks that must run on deployment group server agent? Or can you try to run on "run on agent" agent. And using one of the agents in Azure DevOps?

I tried to run on a agent via a customers deployment group and I could not gen the erro

[2022-09-09 19:09] ovelartelius commented on #233
Hi @oyvindwh
v2.3.0 is now published supporting Target/Source environment ADE1, ADE2, ADE3.
Please try and come back with the result :)

[2022-09-09 19:28] oyvindwh commented on #233
Nice, will give feedback after testing! Thanks for implementing a fix so fast 🙂

[2022-09-09 21:01] caleb-brilliance commented on #231
We're using Windows Server 2019 Standard. I managed to recreate our steps using an azure agent as you suggested and that seems to be working for now, but it does change some things. I'll have to check with the client if there's any reason to be opposed to keeping it switched over. That said, even so, if you manage to recreate the issue for Windows and figure it out, I'd still like to know. The fac

[2022-09-12 08:54] ovelartelius commented on #232
Hi @JayWilk. Have you had time to see if you can see the tasks?

[2022-09-15 09:37] ovelartelius commented on #233
Hi @oyvindwh
Have you had time to try deploy to ADE1?

[2022-09-15 09:46] ovelartelius commented on #231
Hi @caleb-brilliance. How big is the NuGet package file?
When a agent fails and get this StackOverflowException... can you see in the paas portal that a deploy has started? If so, do you have any loging from PAAS portal that could give some more enlightenment?

[2022-09-15 09:54] oyvindwh commented on #233
Not yet, the client is about to move from TeamCity / Octopus to DevOps so they will need some more time. I will ping you when tested.

[2022-09-15 14:03] caleb-brilliance commented on #231
The most recent package was ~160 MB. When the StackOverflowException occurs, it is before anything gets started in the paas portal so unfortunately there's no additional logging there either.

[2022-09-15 14:54] ovelartelius opened #238 "Verbose"
It would be nice to run task in verbose state so that more detailed information is shown what is happening during execution/run.

[2022-09-16 12:25] ovelartelius commented on #231
Thx @caleb-brilliance
Ok. I have added support for Run verbose.
![image](https://user-images.githubusercontent.com/4722784/190638008-e6c4a451-1607-468f-8612-8e2b9c623c82.png)
Is it possible for you to rerun deploy task that get this StackOverflowExecption with RunVerbose = true?. It would be interesting what EpiCloud logic return in there Verbose loging.

[2022-09-16 12:32] ovelartelius commented on #238
#242

[2022-09-16 12:32] #238 closed, assigned to ovelartelius

[2022-09-19 21:37] caleb-brilliance commented on #231
@ovelartelius Thanks for that. The ubuntu agent version is working for now and we're a little busy so I can't get to it immediately, but I'll definitely let you know if we switch back or if I get time to test it again as an aside.

[2022-10-10 13:27] #232 closed, assigned to nobody

[2022-11-15 14:37] ovelartelius opened #250 "Handle zip file"
If you send in a zip file instead of nupkg file you will get error.

2022-11-15T13:43:44.4071794Z
2022-11-15T13:43:44.4072147Z
2022-11-15T13:43:44.4111598Z Loaded cms package:
2022-11-15T13:43:44.4112132Z
2022-11-15T13:43:44.4112363Z
2022-11-15T13:43:44.7136163Z ##[error]Publish-Package : Cannot bind argument to parameter 'PackageFile' because it is null.

In EpinovaDxpDeploymentUtil.ps1 function

[2022-11-27 13:50] ovelartelius commented on #233
I will close this issue.

[2022-11-27 13:50] #233 closed, assigned to ovelartelius

[2022-11-27 13:51] #165 closed, assigned to ovelartelius